.bannerParent {
  margin-top: 5px;
  margin-left: 1px;
  height: 300px;
}

.banner {
  background-image: url("https://i.imgur.com/QSDmimV_d.webp?maxwidth=728&fidelity=grand");
  background-size: 98%;
  background-repeat: no-repeat;
}

.picture {
  background-image: url("https://i.imgur.com/ZxHHlYm.png");
  background-size: 75%;
  background-position-x: 50px;
  background-repeat: no-repeat;
  border-radius: 5%;
}

.detailList {
  list-style-type: none;
}

.detailList a {
  text-decoration: none;
  color: #64a3ff;
}

.descriptionHead {
  font-weight: bold;
}

.descriptionText {
  font-size: 16px;
  font-style: italic;
}
