<div class="row m-5 bg-light">

  <!-- Detail section heading -->
  <div class="row">
    <!-- LEFT: Details -->
    <div class="col-md-7 p-5">

      <ul class="detailList ">
        <li>Name: Omer Citik</li>
        <li>Date of Birth: 15/11/2001</li>
        <li>Location: Amsterdam</li>
        <li>Emailadres: <a href="mailto:omer.citik@hva.nl">omer.citik@hva.nl</a></li>
        <li>Phone: +31 685298846</li>
        <li>Linkedin: <a href="https://www.linkedin.com/in/omercitik/" target="_blank">https://www.linkedin.com/in/omercitik/</a>
        </li>
      </ul>

      <ul class="social-network social-circle  p-4">
        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icoInstagram" title="Twitter"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/in/omercitik/" target="_blank" class="icoLinkedin" title="Linkedin"><i
          class="fa fa-linkedin"></i></a></li>
      </ul>

    </div>
    <!-- RIGHT: Profile picture and cv download -->
    <div class="col-md-5 p-2">
      <div class="row m-2">
        <img src="https://i.imgur.com/ceck0IV.png" width="75%" alt="profile" class="profilePicture ml-4">
        <div class="col-12">
          <button class="btn-primary m-2 p-2" style="border-radius: 5%; font-size: 12px"> Download Resume EN</button>
          <button class="btn-primary m-2 p-2" style="border-radius: 5%; font-size: 12px"> Download Resume NL</button>
        </div>
      </div>
    </div>
    <!-- HORIZONTAL LINE -->
    <div class="col-12">
      <hr>
    </div>
  </div>

  <!-- Aboutme Some text -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-12 text-center">
          <b>ABOUT ME</b>
        </div>
        <p class="p-2 aboutme">
          I am Omer Citik, 19 years old and I am currently in my second year of the HBO-ICT: Software Engineering course
          at the Hogeschool van Amsterdam (HVA). I am very interested and passionate about developing software in
          general and programming. This since a young age. During my education, I participated in various software
          projects, and gained a lot of theoretical knowledge.
          I cannot wait to apply my knowledge in real world and further improve my competencies and skills in software
          development. My profession is mainly in Java, JavaScript, Angular, Spring but I know of every language a piece
          and further development in a language is not hard for me.
        </p>
      </div>
    </div>
    <!-- HORIZONTAL LINE -->
    <div class="col-12">
      <hr>
    </div>
  </div>

  <!-- Experience and Education -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        <div class="col-12 text-center">
          <b>EXPERIENCE</b>
        </div>

        <ul class="detailList">
          <li class="descriptionHead">Developer / Team member</li>
          <p class="descriptionText">Since the beginning of my education I have worked on multiple web applications
            alone but also together in project teams. The projects I've done were for: <br>
            <span class="descriptionHeadSmall">Vanstreek: </span> A web application that offers local fruit and
            vegetable producers the opportunity to promote and sell their products. <br>
            <span class="descriptionHeadSmall">Ben Sajet: </span> A system where the young and old community can
            organize activities together.<br>
            <span class="descriptionHeadSmall">Corendon: </span> System built to find and match travel partners.
          </p>
          <hr>
          <li class="descriptionHead">Member of de council FDMCI <span class="descriptionSmall">jul. 2020 – heden</span>
          </li>
          <p class="descriptionText">
            I have been a member of the FDMCI sub-council at the Hogeschool van Amsterdam since July 2020.
          </p>
          <hr>
        </ul>

      </div>
      <div class="col-md-6">
        <div class="col-12 text-center">
          <b>EDUCATION</b>
        </div>

        <ul class="detailList">
          <li class="descriptionHead">Bachelor of Science Software Engineering <span class="descriptionSmall">sep. 2019 – heden</span>
          </li>
          <p class="descriptionText">
            I am currently following the Software Engineering course at the Hogeschool van Amsterdam and I am in my
            second year. In July 2020, I obtained my HBO Bachelor HBO-ICT <span class="descriptionHeadSmall">Propaedeutic Bachelor's degree</span>
            (Information &
            Communication Technology) cum laude with good grades.
          </p>
          <hr>
          <li class="descriptionHead">Higher secondary education <span
            class="descriptionSmall">sep. 2015 – juli. 2019</span></li>
          <p class="descriptionText">
            Before this education I was at higher secondary education with HAVO level in Amsterdam. June 2019 I
            successfully completed this education.
          </p>
          <hr>
          <span class="mt-5 descriptionSmall">For more download Resume</span>
        </ul>

      </div>
    </div>
    <!-- HORIZONTAL LINE -->
    <div class="col-12">
      <hr>
    </div>
  </div>

  <!-- Skills section -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-12">
        <div class="col-12 text-center">
          <b>SKILLS</b>
        </div>
        <div class="row">
          <div class="col-md-4">
            <ul class="detailList" *ngIf="skillsRowOne">
              <div class="m-2" *ngFor="let skill of skillsRowOne">
                <li class="descriptionHead">{{skill.skillName}}</li>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [style.width.%]="skill.skillPercentage"
                       aria-valuenow="{{skill.skillPercentage}}" aria-valuemin="0"
                       aria-valuemax="100">{{skill.skillPercentage}}%
                  </div>
                </div>
              </div>
            </ul>


          </div>
          <div class="col-md-4">
            <ul class="detailList" *ngIf="skillsRowTwo">
              <div class="m-2" *ngFor="let skill of skillsRowTwo">
                <li class="descriptionHead">{{skill.skillName}}</li>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [style.width.%]="skill.skillPercentage"
                       aria-valuenow="{{skill.skillPercentage}}" aria-valuemin="0"
                       aria-valuemax="100">{{skill.skillPercentage}}%
                  </div>
                </div>
              </div>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="detailList" *ngIf="skillsRowThree">
              <div class="m-2" *ngFor="let skill of skillsRowThree">
                <li class="descriptionHead">{{skill.skillName}}</li>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                       [style.width.%]="skill.skillPercentage"
                       aria-valuenow="{{skill.skillPercentage}}" aria-valuemin="0"
                       aria-valuemax="100">{{skill.skillPercentage}}%
                  </div>
                </div>
              </div>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <!-- HORIZONTAL LINE -->
    <div class="col-12">
      <hr>
    </div>
  </div>


  <!-- Portfolio Items -->
  <div class="col-12">
    <div class="row">
      <div class="col-md-12">

        <div class="col-12 text-center">
          <b>PORTFOLIO</b>
        </div>

        <div class="col-12 ">
          <app-homeportfolio></app-homeportfolio>
        </div>
      </div>

    </div>
    <!-- HORIZONTAL LINE -->
    <div class="col-12">
      <hr>
    </div>
  </div>

</div>
