.container{
  height: 100%;
}

.bannerParent {
  margin-top: 5px;
  margin-left: 1px;
  height: 300px;
}

.banner {
  background-image: url("https://i.imgur.com/QSDmimV_d.webp?maxwidth=728&fidelity=grand");
  background-size: 98%;
  background-repeat: no-repeat;
}

.picture {
  background-image: url("https://i.imgur.com/ZxHHlYm.png");
  background-size: 75%;
  background-position-x: 50px;
  background-repeat: no-repeat;
  border-radius: 5%;
}
.profilePicture{
  border:1px solid black;
  border-radius: 5%;
  box-shadow: 5px 5px
}
.aboutme{
  font-weight: lighter;
  font-size: 16px;
}

.detailList {
  list-style-type: none;
}

.detailList a {
  text-decoration: none;
  color: #64a3ff;
}

.descriptionHead {
  font-weight: bold;
}
.descriptionHeadSmall{
  font-weight: bold;
  font-size: 16px;
}
.descriptionSmall{
  font-size:8px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.descriptionText {
  font-size: 16px;
  font-style: italic;
}

.resumeButton{
  border-radius: 5%;
  font-size: 12px;
  cursor:pointer;
  text-decoration: none;
}
