<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4 themeColorBg">

  <!-- Social buttons -->
  <div class="col-5 " style="margin:0 auto ">
    <ul class="social-network social-circle p-5 ">
      <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
      <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.linkedin.com/in/omercitik/" class="icoLinkedin" title="Linkedin"><i
        class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    Omer Citik
  </div>

</footer>
