<!-- Navbar -->
<app-header></app-header>

<!-- Thumbnail/Banner -->
<div class="row bannerParent">
    <div class="col-md-12 text-center banner">
        <div class="col-md-12 text-center">
            <h3>Omer Citik</h3>
            <p>Bla bla Software Engineer</p>
        </div>  
    </div>
</div>

<!-- About me Section -->
<div class="row">
    <div class="col-md-12">
        <div class="jumbotron mt-1 text-center">
            <h3>About me </h3> 
        </div>
        sLorem 
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, odio? Vero delectus commodi quo, ex consequuntur, officiis obcaecati ratione provident eaque iste corporis impedit facere porro a laudantium? Labore, at.
    </div>
</div>

<!-- Populair portfolio subjects -->
<app-homeportfolio></app-homeportfolio>

<!-- Footer -->
<app-footer></app-footer>