<div class="card-deck mb-5">
  <div class="card">
    <a routerLink="/products" >
      <img class="card-img-top"
           src="https://www.akkerwijzer.nl/site/assets/files/0/01/24/286/7b9096ef9.-detail.jpg"
           alt="Card image cap">
    </a>
    <div class="card-body">
      <a routerLink="">
        <img class="add-to-cart-icon"
             src="https://icons.iconarchive.com/icons/iconsmind/outline/256/Add-Basket-icon.png"
             alt="cart-icon">
      </a>
      <h5 class="card-title mt-4">€ 4,50</h5>
      <p class="card-text">Broccoli 750 gr</p>
    </div>
  </div>
